* {scroll-behavior: smooth;
    
}

:root {
  --textcolor: rgba(88, 18, 79, 0.63);


}

body {
  font-family: sans-serif;
  margin: 0;
  
}

header {
  padding: 40px;
  text-align: left;
  color: #fff;
}

header h1 {
  max-width: 300px;
  height: 50px;
  padding: 8px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: darkorchid;
  padding: 0px 10px;
  text-decoration: underline;
  text-align: center;
}

.legend {
  height: 400px;
  width: 100%;
  background-image: url("../assets/images/layout-placeholder-gif.gif");
  background-size: cover;
  background-position: top;
  display: flex;
}  

article {
  background-color: rgb(219, 219, 219);
}

section {
  display: flex;
  color: var(--textcolor);
  flex-direction: row;
 
}

h1 {
  font-size: 200%;

}

section h1 {
  text-align: right;
  margin-right: 20px;
  border-right: 2px solid var(--textcolor);
  padding: 20px;
  flex: 1;
  

}

section p {
  border: 10px;
  flex: 2;
  margin: auto;
  margin-right: 20px;
}

img {
  width: 100%;
  height: auto;
  
}

.container {
  max-width: 500px;
  border: 5px var(--textcolor);
  border-style: solid;
  margin: 10px;
}  


.smaller {
  max-width: 233px;
  height: auto;
  border: 5px var(--textcolor);
  border-style: solid;
  margin: 10px;  
}

.bob {
  position: relative;
  display: flex;
}

.overlay {
  position: absolute; 
  bottom: 34px; 
  left: 15px;
  background: var(--textcolor);
  color: white; 
  width: 10%;
  font-size: 100%;
  padding: 1%;
  text-align: center;
  min-width: 90px;
}

.bob2 {
  flex-direction: row;
  
}

.overlay2 {
  position: absolute; 
  bottom: 34px; 
  left: 15px;
  background: var(--textcolor);
  color: white; 
  width: 10%;
  font-size: 100%;
  padding: 1%;
  text-align: center;
  min-width: 70px;
}

.contact a {
  justify-content: space-around;
  padding: 10px;
}

footer {
  color: white;
  background-color: var(--textcolor);
  text-align: left;
  padding: 30px;
}

footer h2 {
  max-width: 325px;
  padding: 8px;
  left: 410px;
  
}